body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000428, #004e92);
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    padding: 50px;
}

.about-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.about-intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.about-intro p {
    font-size: 18px;
    line-height: 1.6;
}

.about-details h2,
.about-team h2 {
    margin-top: 40px;
    font-size: 28px;
    color: rgb(0, 119, 255);
}

.about-details ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.about-details li {
    margin: 10px 0;
}

.about-team p {
    font-size: 17px;
    margin-top: 10px;
    line-height: 1.5;
}

.about-img img {
    width: 100%;
    margin-top: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.footer {
    background-color: #0a0a0a;
    margin-top: 280px;
    padding: 5px;
    color: #aaa;
    text-align: center;
    bottom: 0;
}
.footer-content {
    width: 100%;
    margin: auto;
}
.footer-logo img {
    height: 70px;
    margin-top: 20px;
}
.footer-logo p {
    font-size: 18px;
    font-family: Georgia, serif;
}
.footer-links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-links a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-links a:hover {
    color: #fff;
}
.footer-copy {
    font-size: 14px;
    margin-top: 20px;
    color: #555;
}
.footer-socials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-socials img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.footer-socials img:hover {
    transform: scale(1.2);
}
