body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 0, 0, 1) 100%
    );
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 100px;
    width: auto;
}

.technical-specs-container {
    width: 750px;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    color: #000;
    text-align: center;
}

.spec-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* space between the photo and the text */
}

.technical-specs h2 {
    background-color: #f5f7fa;
    margin: 0;
    padding: 15px 20px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #f0f4fb;
    border-bottom: 1px solid #e0e0e0;
}

.row span {
    font-size: 16px;
}

.row span strong {
    font-weight: 600;
}

.footer {
    background-color: #0a0a0a;
    margin-top: 280px;
    padding: 5px;
    color: #aaa;
    text-align: center;
    bottom: 0;
}
.footer-content {
    width: 100%;
    margin: auto;
}
.footer-logo img {
    height: 70px;
    margin-top: 20px;
}
.footer-logo p {
    font-size: 18px;
    font-family: Georgia, serif;
}
.footer-links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-links a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-links a:hover {
    color: #fff;
}
.footer-copy {
    font-size: 14px;
    margin-top: 20px;
    color: #555;
}
.footer-socials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-socials img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.footer-socials img:hover {
    transform: scale(1.2);
}
