body {
    font-family: Arial, sans-serif;
    background: #020024;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 0, 0, 1) 100%
    );
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.logo {
    height: 100px;
    width: auto;
}

.container {
    background-color: white;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    width: 500px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    color: black;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container a {
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}

.container a:hover {
    background-color: darkblue;
}

.footer {
    background-color: #0a0a0a;
    padding: 3px;
    color: #aaa;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-content {
    width: 100%;
}

.footer-logo img {
    height: 60px;
    margin-top: 10px;
}

.footer-logo p {
    font-size: 18px;
    font-family: Georgia, serif;
}

.footer-links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-links a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}

.footer-copy {
    font-size: 14px;
    margin-top: 20px;
    color: #555;
}

.footer-socials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-socials img {
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
}

.footer-socials img:hover {
    transform: scale(1.2);
}
