.menu {
    text-align: center;
    gap: 10px;
    height: 38px;
    margin-top: 50px;
    padding-top: 10px;
}
.menu a {
    display: inline-block;
    background-color: rgb(111, 112, 112);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    width: 80px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.signbutton {
    width: 90px;
    height: 40px;
    background-color: cadetblue;
    color: white;
    font-size: 10px;
}
.signinbutton :hover {
    transform: scale(2);
    background-color: deepskyblue;
}
