* {
    box-sizing: border-box;
}
body {
    background: #020024;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 0, 0, 1) 100%
    );
    color: white;
}
.cars-container {
    margin: 150px;
    margin-left: 400px;
    justify-content: center;
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    row-gap: 40px;
    column-gap: 20px;
}
.carsCards {
    width: 500px;
    padding: 10px;
}
.carsCards img {
    height: 250px;
    width: 420px;
    object-fit: cover;
}
.carsCards-content p {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    line-height: 1.5;
}

.carsCards-content a {
    background-color: rgb(0, 119, 255);
    font-size: 18px;
    color: rgb(253, 252, 252);
    border-radius: 10px;
    padding: 10px;
    margin-left: 240px;
    text-decoration: none;
    transition: 1s;
    display: inline-block;
}
.carsCards-content a:hover {
    transform: scale(1.07);
}
.carsname {
    font-size: 20px;
}

.carsSpan {
    font-size: 30px;
}
.carsCards-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    line-height: 0;
}
.carsCards-row1 span {
    margin-right: 70px;
}
