* {
    box-sizing: border-box;
}
body {
    background: #020024;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 0, 0, 1) 100%
    );
    color: white;
}
.menuVehicles {
    gap: 10px;
    height: 38px;
    margin-top: 50px;
    padding-top: 10px;
}
.menuVehicles a {
    display: block;
    color: rgb(250, 245, 245);
    padding: 10px 15px;
    text-decoration: none;
}

.menuVehicles li {
    margin-right: 20px;
    position: relative;
}
.drop-menuCars {
    display: none;
    position: absolute;
    margin-top: 100%;
    margin-left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
}
.dropMenu1:hover .drop-menuCars {
    display: block;
}
.drop-menuCars:hover {
    display: block;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.navlinks {
    display: flex;
    justify-content: right;
    gap: 5px;
}
.navbar img {
    height: 30px;
}
.navlinks button {
    width: 90px;
    height: 40px;
    background-color: rgb(111, 112, 112);
    border-radius: 10px;
    color: white;
}
footer {
    margin-top: 200px;
}
